/* Espaçamentos... Y - cima/baixo; X - direita/esquerda */

.py-base {
  padding-block: var(--py-base);
}

.py-lg {
  padding-block: var(--py-lg);
}

.py-xl {
  padding-block: var(--py-xl);
}

.px-lg {
  padding-inline: var(--px-lg);
}

/* Especificar o espaço a qual os conteúdos iram preencher. */

.container {
  --max-width: 375px;
  width: min(var(--max-width), 100% - var(--px-lg) * 2);
  margin-inline: auto;
}

/* Algo só aparece para computador. */
.desktop-only {
  display: none;
}

/* Colunas */

.even-columns {
  display: grid;
  gap: 1rem;
}

/* Flex , Gap , Grid - Botoes */

.flex {
  display: flex;
}

.gap-1 {
  gap: 1rem;
}

.gap-1\.5 {
  gap: 1.5rem;
}

.grid {
  display: grid;
}

/* centralizar */

.items-center {
  align-items: center;
}

/* MEDIA QUERIE ------------------------------------ */

@media (width >= 80em) {
  .container {
    --max-width: 80rem
  }

  .desktop-only {
    display: initial;
  }

  .even-columns {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
  }
}